[Desktop Entry]
Version=1.0
Type=Application
Name=Concordia
Comment=Private messaging
Exec=/opt/concordia/Concordia
Terminal=false
Categories=Internet;